name: Publish Package

on:
  release:
    types:
    - published

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'

    - name: Run xunit tests
      run: dotnet test ./

  publish:
    name: Publish package
    needs: [test]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-18.04
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'

    - name: Create NuGet package
      run: |
        REF="${{ github.ref }}"
        FILTER="refs/tags/v"
        export VERSION="${REF//$FILTER}"
        echo "Building Upstream.CommandLine v${VERSION}"
        dotnet pack --configuration Release --output nupkg ./src/Upstream.CommandLine

    - name: Publish NuGet package ${{ github.ref }}
      run: |
        PACKAGE=$(find ./nupkg/ -name "Upstream.CommandLine.*.nupkg")
        dotnet nuget push $PACKAGE -k ${{ secrets.NuGetApiKey }} -s https://api.nuget.org/v3/index.json
